<!-- <div class="">
  <p class=""><strong><%= comment.user.email %></strong></p>
  <p class=""><%= comment.body %></p>
  <p class=""><%= time_ago_in_words(comment.created_at) %> Ago</p>
  <% if current_user %>
    <% if comment.user == current_user %>
      <p>
        <%= link_to 'Delete', [comment.manual, comment],
                      method: :delete,
                      class: "btn btn-primary",
                      data: { confirm: 'Are you sure?' }
        %>
      </p>
    <% end %>
  <% end %>
<div>
<hr> -->
