@font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

.registration-title {
  font-family: 'Binggrae-Bold' !important;
  margin: 40px 0 20px 0;
}
.regi-form {
  width:360px;
  margin: 0 auto;
  border:2px solid #ccc;
  padding: 30px 20px 0 20px;
}
.regi-form label { font-family: 'Binggrae-Bold' !important; }

.regi-input {
  width:100%;
  border:1px solid #ccc;
  font-size:16px;
}

.regi-submit-btn {
  width:100%;
  background-color:#164059;
  color:#fff !important;
  padding:10px;
  font-size:20px;
  cursor:pointer;
  border-radius:5px;
  margin: 20px 0 30px 0;
}

.regi-submit-btn:hover {
  opacity: 0.5;
}
