<h3 class="header-common-title"><strong>제품 목록</strong></h3>
<div class="dropdown" align="right">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    정렬하기
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/products">All</a>
    <a class="dropdown-item" href="/products/category/<%= '피부' %>">피부</a>
    <a class="dropdown-item" href="/products/category/<%= '화장' %>">화장</a>
    <a class="dropdown-item" href="/products/category/<%= '헤어' %>">헤어</a>
    <a class="dropdown-item" href="/products/category/<%= '바디' %>">바디</a>
  </div>
</div>
