<%= form_for([@product, @product.reviews.build]) do |f| %>

  <div class="field" style="margin-bottom:-10px;">
    <div id="star-rating"></div>
  </div>

  <div class="field">
    <%= f.text_area :review, class: "comments-area form-control", autocomplete: "off", style: "width: 100%; height: 100px;", autocomplete: "off", id: "exampleFormControlTextarea1", rows: "3" %>
  </div>
  <%= f.submit "리뷰작성", class:"btn btn-outline-success", style:"margin-top:20px;" %>
<% end %>

<script>
  $('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[rating]'
  });
</script>
